h1{
    font-family:kaushan script
}
h5{
    font-family: Arial, Helvetica, sans-serif;
}
 
    #instructions{
    font-family: pinyon Script;
    font-size: large;
    font-weight: 510;
    text-align: center;
 }

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
<<<<<<< HEAD
    background-color:rgb(202, 216, 202);
=======
    overflow-x: hidden;
>>>>>>> 1ff948bdd282b0854fcbdbda6bc41bf3e9f845c6
}

main {
    display: flex;
    justify-content: space-around;
}
<<<<<<< HEAD
#submit{
    font-family: ;
}
.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    max-width: 50%;
    font-weight: 800;
    font-size:xx-large;
    background-color: whitesmoke;
    background-blend-mode: hue;
    display:block;
    border: 0.1em solid rgb(97, 128, 97);
    border-radius:0.2em;
    padding-left:0.2em;
    padding-bottom:0.3em;
    margin-right:0.2em;
    margin-left:.5em
}
=======

.results-section {
    width: 40%;
    background-color: lightgray;
    padding: 20px;
    height: 70vh;
}

#recipe-search-results {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.recipe-item {
    display: flex;
    
}

.recipe-item img {
    height: 100px;
}
>>>>>>> 1ff948bdd282b0854fcbdbda6bc41bf3e9f845c6

#ingredients-list {
    display: flex;
    flex-direction: column;
}