
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  
.body{
    background-image:url("../assets/recipeFinder.jpg");
    background-repeat: repeat;
    background-position-x: right;
}
h1{
    font-family:kaushan script;  
}
.top{
    background-color:rgb(7, 107, 7); 
    margin:3em;
   color:whitesmoke;
    -moz-box-align: right;
    text-align:right ;
}
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}
.nav-list {
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    
    margin-left: 3em;
    align-items:right;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 70%;
    margin-left: 3em;
    align-items:right;
}
.nav {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(5, 61, 65);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
    background-image: url();
}

.asideheader {
    margin: 3em auto;
    width: 70%;
    text-align: center;
}

.sidebar {
    display:flex;
    flex-direction: column;
    background-color:rgb(202, 216, 202);
    max-width: 30%;   
    padding-left: .5em;      
    position:fixed;
        top: 0;
        bottom: 0;
        
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(90, 142, 177);
}
   
#ingredient-list {
    display: flex;
    flex-direction: column;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.results-section {
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    width: 70%;
    background-color: whitesmoke; 
    padding: 20px;
    height: 70vh;
}

#recipe-search-results {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
}

.recipe-search-result {
    display: flex;
}

.recipe-item img {
    height: 100px;
}

.recipe {
    padding-bottom: 2em;
}
.recipe-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.recipe-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
    
.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
    .aside-header {
        margin: 80% 2em 0;
        text-align: right;
    }
    .footer {
        text-align: center;
    }
}